.form-login {
  padding: 40px;
  color: white;
  background-color: #3b5bcb;
}

.p-button-success {
  border-radius: 30px;
  padding: 15px 40px;
  background-color: #1dd494;
}

input::-moz-placeholder {
  font-size: 0.5rem;
}
