.form-signup {
  padding: 40px;

  background-color: #ecf3fb;
}

.p-button-success {
  border-radius: 30px;
  padding: 15px 40px;
  background-color: #1ed294;
}
label {
  font-weight: 600;
  font-size: 20px;
}
